div.one {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s ease;
}
div.two {
    width: 100px;
    height: 100px;
    background: blue;
    transition: 4s ease-in-out;
}
div#main:hover .one  {
    width: 300px;
    transition-delay: 2s;
}
div#main:hover .two  {
    width: 300px;
    transition-delay: 2s;
}
